@media screen and ( min-width:768px){
    aside  {
        width: 100%;
        height: auto;
        position: relative;
    }
    aside a{
        float: left;
    }
    #responsive{
        margin-left: 0;
    }
    /* Responsive topnav */
    .topnav a{
        float: left !important;
    }
    .topnav a:not([class]) {
        display: block !important;
    }
    .topnav a.icon{
        display: none !important;
    }
    /* Responsive_Header */
    .header .logo{
        padding-top: 2.5% !important;
    }
    .header-right a{
        padding-top: 17.3% !important;
    }
   
}
@media screen and (min-width:600px)
{
    .header .logo{
        padding-top: 2.8% !important ;
        width: 50%;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .header-right{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .header-right a{
        padding-top:15% !important ;
    }
}
body{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
#mySearch{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #dddddd;
}
#myMenu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#myMenu li a{
    background-color: #ff66ff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
#myMenu li a:hover{
    background-color: #eeeeee;
}
aside{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
aside a{
    display: block;
    text-decoration: none;
    padding: 16px;
    color: black;
}
aside a:first-of-type{
    background-color: #4caf50;
    color: white;
}
aside a:hover:not(.active){
    background-color: #555;
    color: white;
}
#responsive{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
@media screen and (max-width:599px){
    aside a {
        text-align: center;
        float: none ;
    }
    nav a{
        width: 100%;
        float: left;
    }
    #sticky{
        text-align: center;
    }
}
nav{
    overflow: hidden;
    background-color: #333333;
}
#scroll_down{
    text-align: center;
    padding: 30px;
}
nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}
nav a:first-of-type{
    background-color: #4caf50;
    color: white;
}
nav a:hover{
    background-color: #dddddd;
    color: black;
}
nav a:active{
    background-color: #4caF50;
    color: white;
}
main{
    padding: 16px;
}
.sticky + main{
    padding-top: 60px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
/* Responsive topnav */
.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 1em 1.2em;
    font-family: 17px;
    border-right: 1px solid black;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.active{
    background-color: #4cdf50;
    color: white;
}
.topnav a:not([class]){
    display: none;
}
.topnav a.icon{
    float: right;
    display: block;
}
.topnav.responsived{
    position: relative;
}
.topnav.responsived a.icon{
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsived a{
    float: none;
    display: block;
    text-align: left;
}
 /* Responsive_Header */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 1.2em 0.7em
}
.header a{
    display: block;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.5em;
    line-height: 1.5em;
    border-radius: 0.3em;
}
.header .logo{
    padding: 2.5px;
    font-weight: bold;
    font-size: 1.8em;
}
.header a:hover{
    background-color:#ddd;
    color: black
}

