
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header{
    height: 55px;
    display: flex;
   justify-content: space-between;
    align-items: center;
}

.header-left button{
    border: none;
    background-color: #fff;
    padding: 0;
    margin-left: 15px;
}
#logo a,.header-right a{
    text-decoration: none;
}
#logo a{
    font-size: 30px;
    color: black
}
.header-right a:first-child{
    margin-right: 8px;
}
.header-right a{ 
    margin-right: 15px;

}
 #favorite{
    position: relative;
}
#favorite #badge{
    position: absolute;
    background-color: #4894d1;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    top: -15px;
    right: -5px;
    font-size: 10px;
    line-height: 17px;
}
.text{
    text-transform: uppercase;
    font-weight: bold;
}
/* main */
.hero-image{
    position: relative;
    height: 325px;
    overflow: hidden;
    background: url('../image/homepage11.jpg') no-repeat center;
    background-size: cover;
}
.button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
main button{
    width: 220px;
    height: 35px;
    text-align: center;
    background-color: #4894d1;
    color: #f0f7fc;
    border: none;
}

.list:first-of-type{
    margin-top: 65px;
}
.list{
    text-align: center;
}
.list img{
    margin-bottom: 50px;
}
.list:nth-child(1){
    margin-bottom: 60px;
}
.list:nth-child(2){
    background-color: #f4f4f4;
    margin-bottom: 60px;
}
.list:nth-child(3){
   background-color: #f8f8f8;
   margin-bottom: 60px;
}
.list .kolye{
    margin-top: -120px;
}
.list:nth-child(4){
    margin-bottom: 76px;
}
.flex-container{
    display: flex;
    background-color: #f4f4f4;
    align-items: center;
}
.flex-container div{
    font-size: 13px;
}
.flex-container img{
    margin-left: 20px;
    margin-right: 15px;
}