*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header{
    height: 55px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.header-left button{
    border: none;
    background-color: #fff;
    padding: 0;
    margin-left: 15px;
}
#logo a,.header-right a{
    text-decoration: none;
}
#logo a{
    font-size: 30px;
    color: black
}
.button{
    text-transform: uppercase
}
.header-right a:first-child{
    margin-right: 8px;
}
.header-right a{ 
    margin-right: 15px;

}
 #favorite{
    position: relative;
}
#favorite #badge{
    position: absolute;
    background-color: #4894d1;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    top: -15px;
    right: -5px;
    font-size: 10px;
    line-height: 17px;
}
/* main */
#slide{
    background-image: url('../image/homepage@2x_02.jpg');
    background-repeat: no-repeat;
    height: 325px;
    position: relative;
}
#button{
    width: 220px;
    height: 35px;
    text-align: center;
    position: absolute;
    color: #f0f7fc;
    background-color: #4894d1;
    border: none;
    top: 80%;
    left: 19%;
}
